.body {
    width: 65%;
    margin: 0 auto;
}

.body > div {
    margin-bottom: 10px;
}

.cameras {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: start;
}

@media (max-width: 1050px) {
    .cameras {
        grid-template-columns: 1fr;
    }

    .body {
        width: 95%;
    }
}

.border {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.leftColumn > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.stats {
    width: calc(100% - 10px);
}